body {
  background:#f8f8f8;
  background:url('images/tiles-01.png'), url('images/pattern_720.png');
  background-position: -1vw 50vh, top left;
  background-repeat: no-repeat, repeat;
  font-family:'montserrat', arial;
  background-size: auto, auto;
  height: 100vh;
  max-height: 100vh;
  background-attachment: fixed;
  overflow: hidden;
}
h1 {
  color: #ff395d;
  text-align: center;
  font-size: 40pt;
  margin-bottom: .2em;
  margin-top: 0em;
}
span {
  text-transform: uppercase;
}
.btn {
  background-color: #ff395d;
  margin-top: 2em;
  width: -webkit-fill-available;
  font-size: 16pt;
  padding-top: .75em;
  padding-bottom: .75em;
  color: white;
  font-family: montserrat;
  border: none;
  font-weight: 700;
}
#label {
  font-style: italic;
  font-size: 18pt;
  text-align: left;
  display: flex;
  padding-bottom: .5em;
  font-family: montserrat;
  padding-top: 2em;
}
#word-input {
  font-size: 40pt;
  text-align: center;
}
#intro-start {
  margin-top: 3em;
  font-weight: 400;
}
div.form {
  display: block;
  text-align: center;
}
form {
  display: inline-block;
  text-align: left;
}
p.word-display {
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
  font-size: 40pt;
  color: #ff395d;
  font-weight: bold;
  margin: 2vh 0vw 2vh 0vw;
}
h2 {
  text-align: center;
  margin: 10vh 0vw 0vh 0vw;
  font-size: 25pt;
  color: #ff395d;
}
body.results-page {
  background:#f8f8f8;
  background:url('images/tiles-02.png'), url('images/pattern_720.png');
  background-position: -3vw -20vh, top left;
  background-repeat: no-repeat, repeat;
  font-family:'montserrat', arial;
  background-size: 100vw 140vh, auto;
  background-attachment: fixed;
  overflow: auto;
}
#more-anagrams {
  text-transform: capitalize;
  text-align: center;
  font-size: 16pt;
}
#arrow-image {
  content: url('images/arrow.png');
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.extra-links {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
}
.extra-links a {
  color: #ff395d;
}
li {
  text-align: center;
  text-transform: uppercase;
  font-size: 40pt;
  color: #ff395d;
  font-weight: bold;
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
}
.error {
  text-align: center;
  color: #dd0000;
  border: 1px solid #dd0000;
  padding: 5px;
  margin: 1em auto 5px auto;
  width: fit-content;
}
body.index-page {
  overflow: auto;
}
