<h2>Details For The Word</h2>
<p class="word-display"><%= "#{@word.text}" %></p>
<ul>
    <li><%= "#{@word.text}" %></li>
    <li><%= "#{@word.text}" %></li>
    <li><%= "#{@word.letters}" %></li>
</ul>
