<body class="results-page">
  <h2>Anagrams For The Word</h2>
  <p class="word-display"><%= "#{@word}" %></p>
  <img id="arrow-image" src="" alt="Arrow">
  <ul class="anagrams">
    <% if @anagrams.present? %>
      <% @anagrams.each do |word| %>
        <li><%= word.text %></li>
      <% end %>
    <% end %>
  </ul>
  <p id="more-anagrams">do you think there should be more anagrams here?</p>
  <br>
  <div class="extra-links">
    <a href="/new.erb">Add them here</a>
    <a href="/all.erb">View all words</a>
  </div>
</body>
